.jumbotron{
  height: 100%;
  background-color: darkslategray;
  background-image: url('https://previews.123rf.com/images/tul/tul1706/tul170600034/79991307-concepto-de-dise%C3%B1o-de-banner-de-moda-de-vector-de-hotel-estilo-moderno-con-iconos-de-arte-de-l%C3%ADnea-fina-e.jpg');
  background-repeat: no-repeat;
  position: -webkit-sticky;
  color: black;
} 
 
.footer
{
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: darkslategray;
  color: aliceblue;
}

.footer a
{
  color: azure;
}

.card-hotel
{
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  height: 100%;
  margin-top: 12px;
  margin-left: 35px;
}

.btn-success:hover
{
  background-color: darkgreen;
  color: white;
  font-weight: 500;

}


nav .navbar-nav li a{
  color: white !important;
}

.navbar-brand{
  
  color: white !important;
}

.card-img-top
{
  padding-bottom: 10px;
}

.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}